@charset "UTF-8";

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	background-image: url(../../img/report/bg_report.png);
	overflow-y: auto;
}

#main {
	height: 100%;
	overflow-y: auto;
}

#top {
	height: 120px;
	width: 198px;
	position: absolute;
	background: #2ca7e0;
	top: 0;
	z-index: 100;
}

#top .wrap {
	padding: 15px 30px;
}

#top .selarea {
	margin-top: 12px;
	padding-top: 12px;
	border-top: 1px solid #FFF;
	font-size: 12px;
	color: #FFF;
	height: 17px;
	line-height: 17px;
}

#top .selarea .label-text {
	float: left;
}

#top .selarea .area {
	float: left;
	font-weight: bold;
	font-size: 14px;
	background: url(../../img/index/arrow.png) no-repeat right center;
	padding-right: 15px;
	cursor: pointer;
}

.sscreen .report {
	margin: 1% auto 0;
	width: 990px;
	height: 600px;
	position: relative;
}

.sscreen .r-choose {
	position: relative;
	float: left;
	width: 300px;
	height: 600px;
	background-image: url(../../img/report/bg_logo.png);
}

.sscreen .r-choose .selectcar {
	position: absolute;
	background-color: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 3px 5px #666666;
	height: 295px;
	left: 300px;
	overflow-y: auto;
	position: absolute;
	top: 300px;
	width: 510px;
	z-index: 1000;
}

.r-choose .selectcar .selectItem p {
	height: 40px;
	line-height: 40px;
	color: #2da7e0;
	font-size: 20px;
	background: #f8f8f8;
	padding-left: 26px;
}

.r-choose .selectcar .selectItem li {
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}

.r-choose .selectcar .selectItem li:hover {
	background: #76c6eb;
	color: #FFF;
}

.r-choose .selectcar .selectItem .carmodel {
	float: left;
	padding-left: 23px;
}

.r-choose .selectcar .selectItem .carprice {
	float: right;
	padding-right: 23px;
}

.sscreen .r-cost {
	float: left;
	width: 690px;
	height: 600px;
}

.sscreen .r-math {
	height: 300px;
	background-color: #FFF;
    position: relative;
}

.sscreen .r-logo {
	width: 300px;
	height: 300px;
}

.sscreen .r-sells li {
	float: left;
	text-align: center;
	color: #FFF;
	width: 33.333%;
	height: 300px;
	cursor: pointer;
}

.sscreen .r-sells h2 {
	margin-top: 90px;
	font-size: 28px;
	font-weight: normal;
}

.sscreen .count-group {
	margin-top: 28px;
}

.sscreen .r-math h4 {
	font-size: 20px;
	font-weight: normal;
	padding-top: 40px;
}

.bscreen .report {
	margin: 1% auto 0;
	width: 1190px;
	height: 800px;
	position: relative;
}

.bscreen .r-choose {
	position: relative;
	float: left;
	width: 300px;
	height: 800px;
	background-image: url(../../img/report/bg_logo.png);
}

.bscreen .r-choose .selectcar {
	background-color: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 3px 5px #666666;
	height: 380px;
	left: 300px;
	overflow: hidden;
	position: absolute;
	top: 400px;
	width: 710px;
	z-index: 1000;
}

.bscreen .r-cost {
	float: left;
	width: 890px;
	height: 800px;
}

.bscreen .r-math {
	height: 400px;
	background-color: #FFF;
}

.bscreen .r-logo {
	width: 300px;
	height: 400px;
}

.bscreen .r-sells li {
	float: left;
	text-align: center;
	color: #FFF;
	width: 33.333%;
	height: 400px;
}

.r-sells .sealer {
	background: #2DA7E0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity: 0.8;
}

.r-sells .sFour {
	background: #FF8416;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity: 0.8;
}

.r-sells .self {
	background: #35C779;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity: 0.8;
}

.bscreen .r-sells h2 {
	margin-top: 135px;
	font-size: 28px;
	font-weight: normal;
}

.bscreen .count-group {
	margin-top: 50px;
}

.bscreen .r-math h4 {
	font-size: 20px;
	font-weight: normal;
	padding-top: 70px;
}

.title-msg {
	font-size: 14px;
	margin-top: 15px;
}

.sell-cost {
	font-size: 28px;
	margin-top: 34px;
}

.sell-cost label {
	font-size: 14px;
}

.r-form .car-series {
	cursor: pointer;
}
.r-form li {
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	background: #FFF;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
	opacity: 0.95;
	-moz-opacity: 0.95;
	overflow: hidden;
}

.r-form li label {
	color: #999;
}

.r-form .r-form-even {
	background: #F5F5F5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
	opacity: 0.95;
	-moz-opacity: 0.95;
}

.more-car {
	display: block;
	color: #FFF;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #ff8416;
}

.form-text {
	display: inline-block;
	width: 190px;
	color: #212435;
	margin-left: 15px;
	height: 50px;
	line-height: 50px;
}

.form-input {
	border: none;
	background: none;
	width: 90px;
	font-size: 14px;
}

.r-math {
	text-align: center;
}

.r-math .g-cost {
	font-size: 16px;
	color: #b4b4b4;
	margin-top: 20px;
}

.r-math .g-cost span {
	font-size: 54px;
	color: #ff8416;
}

.count {
	width: 45%;
	margin: 0 auto;
	overflow: hidden;
}

.count-group h5 {
	font-size: 12px;
	color: #999;
	font-weight: normal;
}

.count-group p {
	font-size: 20px;
	margin-top: 10px;
}

.sscreen .r-list .item {
	float: left;
	width: 230px;
	height: 150px;
}

.bscreen .r-list .item {
	float: left;
	width: 296px;
	height: 193px;
}

.r-list .item .wrap img {
	height: 100%;
	width: 100%;
}

.r-list .item .wrap {
	position: relative;
	overflow: hidden;
}

.r-list .item .wrap .carinfo {
	position: absolute;
	left: 0;
	background: #000;
	filter: alpha(opacity = 70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	padding: 12px 0;
	color: #FFF;
	cursor: pointer;
	top: 0;
	width: 100%;
}

.r-list .item .font-bold {
	padding: 0 18px;
}

.r-list .item .info {
	height: 30px;
	margin-top: 40px;
	padding: 0 18px;
}

.r-list .item .usedl {
	color: #ff8416;
	font-size: 24px;
	padding-top: 4px;
}

.r-list .item .usedr {
	text-align: right;
	color: #999999;
}

.r-list .item .tags {
	text-align: right;
	margin-top: 6px;
	padding: 0 18px;
}

.r-list .item .tags .tag {
	padding: 0 3px;
	line-height: 20px;
	color: #FFF;
	font-size: 12px;
}

.r-math .bdsharebuttonbox {
    position: absolute;
    top: 10px;
    right: 20px;
}

.r-math .bdsharebuttonbox a {
    background: url(../../img/report/sharebtn.png) no-repeat center center;
    height: 14px;
    padding: 0;
    width: 35px;
}

.sscreen .margin-top {
    margin: 30px auto 0;
}

.bscreen .margin-top {
    margin: 40px auto 0;
}

#vote {
    height: 52px;
    width: 180px;
}

#vote .icon {
    width: 26px;
    float: left;
    height: 52px;
    cursor: pointer;
}

#vote .right {
    background: url(../../img/report/right.png) no-repeat center center;
}

#vote .no-right {
    background: url(../../img/report/noright.png) no-repeat center center;
}

#vote .vote {
    float: left;
    height: 52px;
    font-size: 12px;
    color: #999999;
    line-height: 25px;
    margin: 0 10px;
}

#vote .vote .scale {
    background: #f0f0f0;
    width: 100px;
    height: 2px;
}

#vote .vote .scale span {
    background: #2da7e0;
    height: 2px;
    width: 50%;
    display: block;
}
.sscreen #carMore {
    background: none repeat scroll 0 0 #397294;
    color: #FFFFFF;
    font-size: 18px;
    height: 100%;
    left: 0;
    line-height: 150px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}
.bscreen #carMore {
    background: none repeat scroll 0 0 #397294;
    color: #FFFFFF;
    font-size: 18px;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
    line-height: 193px;
}