@charset "UTF-8";
body {
	font-size: 12px;
	font-family: "宋体";
}
body, ul {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
	font-size: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.clearfix {
	zoom: 1;
}
