#top {
	height: 120px;
	width: 198px;
	background: #2ca7e0;
	margin: 0 auto;
}

#top .wrap {
	padding: 15px 30px;
}

#top .selarea {
	margin-top: 12px;
	padding-top: 12px;
	border-top: 1px solid #FFF;
	font-size: 12px;
	color: #FFF;
	height: 17px;
	line-height: 17px;
}

#top .selarea .label-text {
	float: left;
}

#top .selarea .area {
	float: left;
	font-weight: bold;
	font-size: 14px;
	background: url(../../img/index/arrow.png) no-repeat right center;
	padding-right: 15px;
	cursor: pointer;
}

.banner {
	margin: 0 auto;
	height: 350px;
	max-width: 1920px;
	background-image: url("../../img/displace/banner.png");
	background-position: center top;
}

.banner-box {
	width: 990px;
	margin: 0 auto;
}

.info-car {
	padding-top: 100px;
	margin-left: 50%;
	width: 500px;
	color: #FFF;
}

.info-car p {
	font-size: 18px;
	margin-top: 25px;
}

.info-car h3 {
	padding-left: 20px;
	width: 415px;
	height: 50px;
	line-height: 50px;
	background-color: #34b773;
	color: #FFF;
	font-size: 24px;
	font-weight: normal;
}

.footer {
	height: 38px;
	line-height: 38px;
	text-align: right;
	background-color: #212435;
	color: #FFF;
}

.footer span {
	color: #2ca6df;
}

/*���񲿷֡���ѡ�̼�ҳ��*/
.serve_main {
	margin: 35px auto;
	overflow: hidden;
	width: 660px;
	text-align: center;
    clear: both;
}

.serve_part {
	width: 195px;
	float: left;
	margin: 0 67px;
}

.serve_part div {
	border: 2px solid #f0f0f0;
	border-radius: 100%;
	width: 93px;
	margin: 0 auto;
}

.serve_part img {
	padding: 25px;
}

.serve_part h4 {
	clear: both;
	font-size: 18px;
	font-weight: 500;
	margin: 15px 0;
}

.serve_part p {
	color: #a1a1a1;
	line-height: 22px;
}
