@charset "UTF-8";

#header {
	height: 120px;
	border-bottom: 1px solid #e4e4e4;
	box-shadow: 0 0 5px #efefef;
}

#main {
	margin-bottom: 40px;
    padding-bottom: 10px;
}

.sscreen .content {
	width: 990px;
	margin: 0 auto;
}

.bscreen .content {
	width: 990px;
	margin: 0 auto;
}

#top {
	height: 120px;
	width: 198px;
	background: #2ca7e0;
	z-index: 100;
	float: left;
}

#top .wrap {
	padding: 15px 30px;
}

#top .selarea {
	margin-top: 12px;
	padding-top: 12px;
	border-top: 1px solid #FFF;
	font-size: 12px;
	color: #FFF;
	height: 17px;
	line-height: 17px;
	font-size: 12px;
}

#top .selarea .label-text {
	float: left;
}

#top .selarea .area {
	float: left;
	font-weight: bold;
	background: url(../../img/index/arrow.png) no-repeat right center;
	padding-right: 15px;
	cursor: pointer;
	font-size: 14px;
}

#search-container {
	float: right;
	margin-top: 40px;
}

#search-container .sbtn {
	float: left;
	position: relative;
	width: 110px;
	height: 40px;
	border: 1px solid transparent;
	padding: 4px 5px;
	font-size: 14px;
}

#search-container .sbtn .sbtn-wrap {
	border: 1px solid #dddddd;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

#search-container .fl {
	float: left;
	display: inline;
}

#search-container .smr {
	padding: 5px;
}

#search-container .active {
	border: 1px solid transparent;
	padding: 0;
	height: 50px;
	width: 120px;
}

#search-container .active .sbtn-wrap {
	background: none repeat scroll 0 0 #F9F9F9;
	border-bottom: 0;
	padding: 14px 14px 18px;
	position: absolute;
	width: 89px;
	z-index: 1000;
}

#search-container .bud-cont, #search-container .car-age-cont,
	#search-container .mileage-cont {
	display: none;
	font-size: 12px;
}

#search-container .active .bud-cont, #search-container .active .car-age-cont,
	#search-container .active .mileage-cont {
	display: block;
	padding: 10px 10px;
}

#search-container .bud-cont {
	background: none repeat scroll 0 0 #F9F9F9;
	border: 1px solid #DDDDDD;
	position: absolute;
	right: -240px;
	top: 50px;
	width: 630px;
	z-index: 50;
}

#search-container .car-age-cont {
	background: none repeat scroll 0 0 #F9F9F9;
	border: 1px solid #DDDDDD;
	position: absolute;
	right: -117px;
	top: 50px;
	width: 474px;
	z-index: 50;
}

#search-container .mileage-cont {
	background: none repeat scroll 0 0 #F9F9F9;
	border: 1px solid #DDDDDD;
	position: absolute;
	right: 1px;
	top: 50px;
	width: 483px;
	z-index: 50;
}

#search-container .sbtn .gray-arrow {
	background: url(../../img/index/gray-arrow.png) no-repeat right center;
	padding-right: 22px;
	height: 18px;
	line-height: 18px;
}

#search-container .active .gray-arrow {
	background: url(../../img/index/gray-top-arrow.png) no-repeat right
		center;
}

#search-container .input-search input {
	height: 38px;
	line-height: 38px;
	padding: 0 15px;
	color: #cccccc;
	width: 300px;
	font-size: 14px;
	text-align: center;
}

#search-container .advanced {
	height: 38px;
	line-height: 38px;
	color: #ff8416;
	text-decoration: underline;
    cursor: pointer;
}

#search-container .price_l {
	line-height: 30px;
}

#search-container .price_l ul li {
	float: left;
	margin: 0 27px 0 10px;
	cursor: pointer;
}

#search-container .price_l ul li:hover {
	color: #ff8416;
}

.advSearch .dropdown .hover,
.advSearch .searchBox .hover,
#search-container .price_l ul .hover {
    color: #ff8416;
}

#search-container .custom-price {
	height: 30px;
	line-height: 30px;
	margin: 10px 10px 0 10px;
}

#search-container .custom-price .small-input {
	height: 22px;
	line-height: 22px;
	width: 68px;
}

#search-container .custom-price .text-label {
	margin-right: 12px;
}

#custom-price {
	background: #ff8416;
	border: 0;
	height: 28px;
	line-height: 28px;
	margin-left: 5px;
	width: 56px;
	color: #FFF;
}

.condition .top-cont {
	height: 30px;
	margin: 15px 0;
}

.condition .top-cont .totalnum {
	height: 30px;
	line-height: 30px;
}

.condition .tags {
	margin-left: 10px;
}

.condition .tags ul li {
	float: left;
	border: 1px solid #DDDDDD;
	padding: 8px;
	margin: 0 8px;
}

.condition .tags ul li .icon-close {
	background: url(../../img/used/close.png) no-repeat right center;
	height: 9px;
	width: 9px;
	display: inline-block;
	padding-right: 8px;
	cursor: pointer;
}

.condition .sort {
	width: 240px;
	line-height: 30px;
}

.condition .sort .sort-res {
	margin-right: 10px;
}

.condition .sort .sort-res span {
	color: #2da7e0;
}

.condition .sort .sort-l ul li {
	float: left;
	margin-right: 10px;
    cursor: pointer;
}

.condition .sort .sort-l ul .icon {
	height: 14px;
	width: 7px;
	padding-right: 11px;
}

.condition .sort .sort-l ul .icon-up .icon {
	background: url(../../img/used/up.png) no-repeat right center;
}

.condition .sort .sort-l ul .icon-down .icon {
	background: url(../../img/used/down.png) no-repeat right center;
}

.condition .used-list {
	margin: 0 -5px;
}

.condition .used-list .useditem {
	float: left;
	border-bottom: 1px solid #DDDDDD;
	width: 190px;
	margin: 0px 5px 10px;
}

.condition .used-list .useditem img {
    width: 190px;
    height: 142px;
}

.condition .used-list .useditem .row {
	margin: 10px 0;
	clear: both;
}

.condition .used-list .useditem .title {
    line-height: 18px;
    height: 36px;
    overflow: hidden;
}

.condition .used-list .useditem .title a {
    color: #34495e;
}

.condition .used-list .useditem .preview {
	width: 100%;
}

.condition .used-list .useditem .info {
	height: 30px;
}

.condition .used-list .useditem .usedl {
	color: #ff8416;
	font-size: 24px;
	padding-top: 4px;
}

.condition .used-list .useditem .usedr {
	text-align: right;
	color: #999999;
}

.condition .used-list .useditem .price {
	color: #999999;
	font-size: 12px;
}

.condition .used-list .useditem .tags {
	text-align: right;
}

.condition .used-list .useditem .tags .tag {
	padding: 0 3px;
	line-height: 20px;
	color: #FFF;
	font-size: 12px;
}
#footer {
	position: fixed;
	width: 100%;
	background: #212435;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	bottom: 0;
	z-index: 1000;
	color: #FFF;
}
#footer .copyright {
	padding-right: 15%;
	text-align: right;
}
#pager .pager {
    float: left;
    margin: 15px 0;
}
#pager .pager ul li {
    float: left;
    padding: 5px 10px;
    margin-right: 13px;
    background: #f8f8f8;
    text-align: center;
}
#pager .prev-next a,
#pager .prev-next a:visited,
#pager .pager ul li a,
#pager .pager ul li a:visited {
    color: #cccccc;
}
#pager .pager ul .active {
    background: #2da7e0;
}
#pager .pager ul .active a,
#pager .pager ul .active a:visited{
    color: #fff;
}
#pager .pager ul .last {
    background: none;
    padding: 0;
    margin: 0;
}
#pageGo {
    border: 1px solid #f4f4f4;
    width: 40px;
    height: 20px;
}
#pager .prev-next {
    float: right;
    margin: 15px 0;
}
#pager .prev-next .prev,
#pager .prev-next .next {
    padding: 5px 10px;
    background: #f8f8f8;
    margin-left: 13px;
}
#cdsSearchBox {
    height: 380px;
    margin: 0 auto;
    position: relative;
    width: 250px;
}
.cdsSearchMain .cdsbrandbg {
    height: 380px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 250px;
    z-index: 0;
}
.cdsSbrand {
    float: left;
    height: 554px;
    position: relative;
    width: 250px;
}
.cdsStabBox .cdsbTitle,
.cdsSbrand .cdsbTitle {
    text-align: center;
    margin: 14px 0;
    color: #33495d;
}
.csbNav {
    padding: 0 0 10px 10px;
}
.csbNav a {
    background: #FFF;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin: 10px 8px 0 0;
    text-align: center;
    width: 22px;
    border: 1px solid #dadada;
    text-decoration: none;
}
.cdsBtabBox {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 10px;
    position: relative;
    width: 240px;
}
.cdsSearchMain .ibrandBox {
    border: 1px solid #f8f8f8;
    margin: 0 auto;
    width: 95%;
}
.cdsSearchMain p {
    color: #999999;
    background: #f8f8f8;
    font-size: 12px;
    height: 29px;
    line-height: 29px;
    text-indent: 8px;
    margin: 0;
}
.cdsSearchMain li {
    height: 30px;
    line-height: 30px;
    list-style: none;
    cursor: pointer;
}
.cdsSearchMain li .preview {
    float: left;
    width: 30px;
}
.cdsStabBox .cdsStab a,
.cdsBtabBox a {
    color: #000;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
}
.carModel ul .active a,
.cdsSearchMain a.active,
#carSeries .active a {
    color: #2da7e0;
}
.csbNav a.active {
    background: #31a5db;
    color: #FFF;
    border: 1px solid #31a5db;
}
.cdsStabBox {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    width: 370px;
}
.cdsStabBox .cdsStab {
    height: 558px;
}
.advSearch {
    margin: 10px 0;
}
.advSearch .searchBox {
    display: table;
    border: 1px solid #DDDDDD;
    border-top: 0;
    border-bottom: 1px dashed #DDDDDD;
}
.advSearch .first-box {
    border-top: 1px solid #DDDDDD;
}
.advSearch .last-box {
    border-bottom: 1px solid #DDDDDD;
}
.advSearch .searchLabel {
    background-color: #FFFFFF;
    font-size: 14px;
    height: 100%;
    line-height: 41px;
    text-align: center;
    width: 78px;
    float: left;
}
.advSearch .searchItem {
    height: 41px;
    width: 910px;
}
.searchItem ul li {
    float: left;
    height: 42px;
    line-height: 42px;
    margin-left: 19px;
    cursor: pointer;
}
#classifyBox .dropdown {
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    padding: 5px 0;
    position: relative;
}
#classifyBox .dropdown .arrow-down {
    background: url("../../img/index/gray-arrow.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    height: 18px;
    line-height: 18px;
    padding-right: 22px;
}
#classifyBox .dropdown .suv {
    border: 1px solid transparent;
    border-bottom: 0;
    padding: 0 10px;
}
#classifyBox .show .suv {
    border: 1px solid #DDDDDD;
    border-bottom: 0;
}
#classifyBox .dropdown .bottom-name-list {
    position: absolute;
    display: none;
}
#classifyBox .show .bottom-name-list {
    display: block;
}
#classifyBox .dropdown .bottom-name-list ul li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDD;
    border-bottom: 0;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    text-align: center;
    width: 70px;
}
#classifyBox .dropdown .bottom-name-list ul .last {
    border-bottom: 1px solid #DDD;
}